*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Paaji 2', cursive;
}



/* -----navbar----- */


.nav{
    max-width: 100%;
    background-color: #03a9f4;
    color: white;
    padding: 1rem;
      border-bottom-left-radius: 50px;
      border-top-right-radius: 50px;
      box-shadow: 5px 5px 15px 5px #1f60ac;
}

.nav .nav-heading{
    font-size: 1.5rem;
     background-color: #03a9f4;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #0f90fa, 0 0 30px #2290eb, 0 0 40px #4d9bdb, 0 0 55px #49FF18, 0 0 75px #49ff18

}

.nav .list-container{
    list-style: none;
    text-align: right;
}

.nav .list-container .list-items{
    display: inline;
    padding: 1rem;
}

.nav .list-container .list-items .link{
    text-decoration: none;
    color: white;
   }

.nav .list-container .list-items .link:hover{
       color: #FFFFFF;
       background: #03a9f4;
       text-shadow: 0 0 10px #FFFFFF;
}


/* -----header----- */

.header .header-img{
    margin-top: 2rem;
     display: block;
     margin-left: auto;
     margin-right: auto;
     max-width: 50%;
     
  
}

.header .header-heading{
    color: #03a9f4;
    text-align: center;
     margin: 3rem;
     font-size: 2.4rem;
     font-weight: 1rem;
     
}

.header .header-heading .name{
    color:  #f43303;
}

.header .header-heading .title{
    color:  #c71090;
}


/* -----section---- */

.section{
     
     text-align: center;
     
}

.section .section-heading-light{
    margin-top: 3rem;
    font-size: 2.3rem;
    text-align: center;
}
.section .section-heading-dark{
    margin-top: 3rem;
    font-size: 2.3rem;
    text-align: center;
     background-color: #f5f5f5;
}

.section .section-para-dark{
    text-align: center;
    background-color: #f5f5f5;
    font-size: 1.2rem;
    padding: 1rem;
}

.section .section-para-light{
    padding: 1rem;
    font-size: 1.2rem;
}

/* ------footer----- */

.footer{
    background-color:  #b25deb;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
     
}

.footer .footer-heading{
    text-align: center;
    margin-top: 3rem;
    font-size: 2.2rem;
    color: yellow;
   background-color: linear-gradient(45deg, #f06, yellow);
    
    
}

.footer .footer-list-container{
    text-align: center;
     margin-top: 1.5rem;
}

.footer .footer-list-items{
    display: inline;
    margin: 1rem;
}

.footer  .footer-link{
    text-decoration: none;
    color: rgb(84, 238, 217);
    font-weight: bold;
    font-size: 1.2rem;
}




/* ------projects style----------- */

.main-heading{
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: 4rem;
    color: green;
    font-size: 4rem;
    text-align: center;
    color: #FFF;
    /* background-color: #333; */
    text-shadow: #FFF 0 -1px 4px, rgb(236, 159, 255) 0 -2px 10px, #80d1f1 0 -10px 20px, rgb(41, 120, 184) 0 -18px 40px;
}





.container .heading{
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
}

.container .container-para{
    text-align: center;
    margin-top: 2rem;
    font-size: large;

}

.container .container-button{
     margin-top: 2rem;
     display: block;
     margin-left: auto;
     margin-right: auto;
     max-width: 50%;

     
     font-size: 16px;
     line-height: 16px;
     padding: 4px; 
     border-radius: 11px; 
     
       
      background-image: linear-gradient(rgb(126, 245, 28) 0%, rgb(188, 3, 244) 23%, rgb(207, 14, 182) 100%);
      box-shadow: rgb(23, 147, 230) 5px 5px 15px 5px;
       border: 2px solid rgb(28, 110, 164); 
}
      
.container .container-button:hover {
    
    background: #1C6EA4;
}
.container .container-button:active {
    background: #1B6675; 
}
     


.container .container-button .container-link{
    text-decoration: none;
    color: white;

}

.container-light{
    margin-top: 3rem;
    padding: 1rem;
}

.container-dark{
    padding: 1rem;
    margin-top: 3rem;
    background-color: rgb(203, 224, 229);
}



