
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Cabin:wght@500&family=Goldman&family=Lobster&family=Luckiest+Guy&family=Merriweather:ital,wght@0,400;1,900&family=Patua+One&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Paaji 2', cursive;
}
body{
    background-color: black;
}


/* -----navbar----- */


.nav{
    max-width: 100%;
    background-color: #FF677D;
    color: white;
    padding: 1rem;
      border-bottom-left-radius: 50px;
}

.nav .nav-heading{
    font-family: 'Archivo Black', cursive;
    font-size: 1rem;
     background-color:#FF677D;
   
}

.nav .list-container{
    list-style: none;
    text-align: right;
    margin-top: 1.7rem;
    
}

.nav .list-container .list-items{
    display: inline;
    padding: 1rem;
    
}

.nav .list-container .list-items .link{
    text-decoration: none;
    color: white;
    font-family: 'Archivo Black', cursive;
   }

.nav .list-container .list-items .active1{
    font-size: large;
    font-weight: bold;
}
.nav .list-container .list-items .active2{
     font-size: large;
    font-weight: bold;
}
.nav .list-container .list-items .active3{
     font-size: large;
    font-weight: bold;
}




/* -----header----- */

.header .header-img{
    margin-top: 2rem;
     display: block;
     margin-left: auto;
     margin-right: auto;
     max-width: 90%;
     
  
}

.header .header-heading{
    color: #FF677D;
    text-align: center;
     margin: 3rem;
     font-size: 2.1rem;
     font-family: 'Archivo Black', cursive;
     
}

.header .header-heading .name{
    color:   white;
    font-size: 2.3rem;
    font-family: 'Archivo Black', cursive
}

.header .header-heading .title{
    color:  white;
    font-size: 2.3rem;
    font-family: 'Archivo Black', cursive;
}


/* -----section---- */

.section{
     
     text-align: center;
     
}

.section .section-heading-light{
    margin-top: 3rem;
    font-size: 2.3rem;
    text-align: center;
    color:#FF677D;
    font-family: 'Archivo Black', cursive;
}
.section .section-heading-dark{
    margin-top: 3rem;
    font-size: 2.3rem;
    text-align: center;
    color: #FF677D;
    
     font-family: 'Archivo Black', cursive;
}

.section .section-para-dark{
    text-align: center;
    font-family: 'Archivo Black', cursive;
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
}

.section .section-button-dark {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    font-size: 1.4rem;
    border-radius: 27px;
    padding: 0.3rem;
    background-color: #FF677D;
    font-weight: 0.5rem;
    
    
    border: 2px solid #FF677D;
}

.section .section-button-dark a{
    color: white;
    text-decoration: none;
    font-family: 'Archivo Black', cursive;
}

.section .section-button-dark:hover{
    background-color: #fc96a5;
}

.section .section-para-light{
    padding: 1rem;
    font-size: 1.3rem;
    color: white;
    font-family: 'Archivo Black', cursive;
}

/* ------footer----- */

.footer{
    background-color: #FF677D;
   
     
}

.footer .footer-heading{
    font-family: 'Archivo Black', cursive;
    text-align: center;
    margin-top: 3rem;
    font-size: 1.8rem;
    color: rgb(248, 246, 245);
   
    
    
}

.footer .footer-list-container{
    text-align: center;
     margin-top: 1.5rem;
     
}

.footer .footer-list-items{
    display: inline;
    margin: 1rem;
    
}

.footer  .footer-link{
    text-decoration: none;
    color: #FF677D;
    font-weight: bold;
    font-size: 1.2rem;
}




/* ------projects style----------- */

.main-img{
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    }





.container .heading{
    text-align: center;
    font-weight: bold;
    font-size: 2.1rem;
    color: #FF677D;
    font-family: 'Archivo Black', sans-serif;
}

.container .container-para{
    text-align: center;
    margin-top: 2rem;
    font-size: large;
    color: white;
    font-size: 1.3rem;
    font-family: 'Archivo Black', sans-serif;
    

}

.container .container-button{
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    font-size: 1.1rem;
    border-radius: 27px;
    padding: 0.3rem;
    background-color: #FF677D;
    font-weight: 0.5rem;

    
    border: 2px solid #FF677D;
}
      
.container .container-button:hover {
    
    background: #fc96a5;
}

     


.container .container-button .container-link{
    text-decoration: none;
    color: white;
    font-family: 'Archivo Black', cursive

}

.container-light{
    margin-top: 3rem;
    padding: 1rem;
}

.container-dark{
    padding: 1rem;
    margin-top: 3rem;
    background-color: black;
}



/* -------blogs style------ */

.header{
    padding: 1.1rem;
}


.header-blogs{
    text-align: center;
    font-size: 2rem;
    color: #FF677D;
    font-family: 'Archivo Black', cursive;
    margin-top: 4rem;
}

.header-blogs-para{
    text-align: center;
    margin: 2rem;
    font-size: 1.3rem;
    color: white;
    font-family: 'Archivo Black', cursive;
}

.header .header-btn{
     margin-top: 2rem;
     display: block;
     margin-left: auto;
     margin-right: auto;
     max-width: 50%;
     font-size: 1.1rem;
     border-radius: 27px;
     padding: 0.4rem;
     background-color: #FF677D;
     font-weight: 0.5rem;
     
     border: 2px solid #FF677D;
     
}

.header-dark{
   
    
    
   
    font-size: 1.1rem;
    
    padding: 0.4rem;

    font-weight: 0.5rem;
    
    
    
    
}

.heading{
    font-family: 'Archivo Black', cursive
}

.header-links{
    text-decoration: none;
    color: white;
    font-family: 'Archivo Black', cursive;
}

.header .heading{
    color: #FF677D;
}

.header .header-btn:hover{
    background-color: #f8a7b3;
}


/* -------footer-blogs------ */

.footer-blogs{
         margin-top: 3rem;
    background-color: #FF677D;
}


.footer-blogs .footer-blogs-heading{
    font-family: 'Archivo Black', cursive;
    font-weight: 2rem;
   color: white;
    font-size: 1.7rem;
    text-align: center;
}

.footer-blogs .footer-blogs-img .image{
     margin-top: 2rem;
     display: block;
     margin-left: auto;
     margin-right: auto;
     max-width: 50%;
     
}